.custom-button {
  min-width: 165px;
  width: 100%;
  display: block;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: #00003f;
  color: white;
  text-transform: uppercase;
  /* font-family: "Open Sans Condensed"; */
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.custom-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.custom-button.google-button {
  background-color: #DD4832;
  color: white;
}
.custom-button.google-button:hover {
  background-color: #dd4932cc;
  border: none;
}

.custom-button.facebook-button {
  background-color: #3B5999;
  color: white;
}
.custom-button.facebook-button:hover {
  background-color: #3b5999d0;
  border: none;
}

.custom-button.twitter-button {
  background-color: #0853f5;
  color: white;
}
.custom-button.facebook-button:hover {
  background-color: #0853f596;
  border: none;
}
.custom-button.inverted {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.custom-button.inverted:hover {
  background-color: black;
  color: white;
  border: none;
}
